{% extends "base.html" %}
{% block content %}
<a href="/"><h1>Hitsigst</h1></a>
<p style="opacity: 0.5;">Tap to play or pause</p>
<div id="visualizer">
    <div class="pulse"></div>
    <div class="pulse"></div>
    <div class="pulse"></div>
    <div class="core"></div>
</div>
<div class="player">
    <audio id="song" src="{{ song_url }}" loop>
        Your browser does not support the audio element.
    </audio>
</div>
<p id="playerState">Paused</p>
<script>
    const visualizer = document.getElementById('visualizer');
    const audioPlayer = document.getElementById('song');
    const playerState = document.getElementById('playerState');
    let isPlaying = !audioPlayer.paused;

    visualizer.addEventListener('click', () => {
        if (isPlaying) {
            audioPlayer.pause();
            visualizer.classList.remove('playing');
            isPlaying = false;
        } else {
            audioPlayer.play();
            visualizer.classList.add('playing');
            isPlaying = true;
        }
    });

    // Update button text and class on play event
    audioPlayer.addEventListener('play', () => {
        visualizer.classList.add('playing');
        playerState.textContent = "Now playing...";
    });

    // Update button text and class on pause event
    audioPlayer.addEventListener('pause', () => {
        visualizer.classList.remove('playing');
        playerState.textContent = "Paused";
    });

    // Handle when audio ends
    audioPlayer.addEventListener('ended', () => {
        isPlaying = false;
        visualizer.classList.remove('playing');
    });
</script>
{% endblock %}
