{% extends "base.html" %}
{% block content %}
<h1>Hitsigst</h1>
<div class="card">
    <p style="text-align: center;"><strong>Wie is de Hitsigste?</strong></p>
    <p>
        <em>Hitsigst</em>, a project by Mark van der Schoot and Max Crone,
        is a Christmas present for Mark's parents (who really enjoying playing a
        <em>very similar</em> game that we shall not name).
    </p>
    <p style="text-align: center;"><strong>Hoi Peter Paul en Steffie!</strong></p>
    <p>
        If you too want to play <em>Hitsigst</em>,
        trek ons aan de spreekwoordelijke mouw in real life!
        We might have a few extra sets of cards lying around.
        And we can always play together!
    </p>
</div>
<p style="opacity: 0.5; max-width: 500px; text-align: center;">
    This game is strictly for personal use.
    We are not affiliated with the Jumbo Group.
    <a href="https://github.com/Vogeltak/hitrelease" target="_blank">Code</a> is all open source.
</p>
{% endblock %}
